@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Outfit:wght@400;700&family=Source+Sans+3:wght@400;600;700&display=swap');
body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.container {
    text-align: center;
    border: 10px solid white; 
    border-radius: 10px; 
    width: 100%;
    max-width:170px ;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
}

.QRIMG {
    border-radius: 10px;
    position: relative;
    max-width: 100%; 
    height: auto;   
}

h1 {
    color: black;
    font-size:  15px;
}
p {
    color:hsl(210, 10%, 45%);
    font-size:  12px;
}
